DEBUG=False
SECRET_KEY=tu-clave-secreta-super-segura
ALLOWED_HOSTS=tudominio.onrender.com,.onrender.com

DB_NAME=vita_db
DB_USER=vita_user
DB_PASSWORD=genera-una-contraseña-segura
DB_HOST=dpg-xxxx.postgres.render.com
DB_PORT=5432

CELERY_BROKER_URL=redis://default:password@redis-xxxx.onrender.com:6379/0
CELERY_RESULT_BACKEND=redis://default:password@redis-xxxx.onrender.com:6379/0
CACHE_URL=redis://default:password@redis-xxxx.onrender.com:6379/1

CSRF_TRUSTED_ORIGINS=https://tudominio.onrender.com
